@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --view-width: 100vw;
  --view-height: 100vh;
  --colour-dark-grey: #58595b;
  --colour-yellow: #fecf50;
  --colour-pink: #fe7073;
  --background-image: url("../img/bloemen.jpg");
  --content-background-colour: white;
  --content-width: 75vw;
  --content-height: fit-content;
  --content-border-radius: 90px;
  --content-padding: 1vmin 4vmin 2vmin;
  --navbar-text-size: calc(calc(24 / 1293) * var(--view-width));
  --navbar-text-colour: var(--colour-dark-grey);
  --navbar-text-colour-hover: var(--colour-pink);
  --text-accent-colour: var(--colour-pink);
  --social-icon-hover-colour: var(--colour-pink);
  --banner-colour: var(--colour-pink);
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes bounce_right {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes bounce_left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-5px, 0, 0);
  }
}

.label {
  z-index: 2;
  position: fixed;
  color: white;
  font-style: normal;
  font-size: calc(calc(10 / 1293) * var(--view-width));
  background-color: var(--colour-pink);
  top: 20%;
  right: -7%;
  width: fit-content;
  padding-left: 5vw;
  padding-right: 15vw;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 5px #58595b5e;
  transition: transform 0.2s ease-in-out;
}

.label > h1 {
  margin-block-start: 0.45em;
  margin-block-end: 0.45em;
}

.label:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.yellow_background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--colour-yellow);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.flowers_background {
  position: fixed;
  width: 98%;
  height: 97%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50px;
  opacity: 60%;
}

.content_container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  margin-top: 14vh;
  background-color: var(--content-background-colour);
  border-radius: var(--content-border-radius);
  padding: var(--content-padding);
  width: var(--content-width);
  height: var(--content-height);
  box-shadow: 5px 5px 5px #58595b33;
}

.seperator {
  border-bottom: medium dashed blue;

  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: var(--colour-pink);
  border-bottom: 5px solid var(--colour-pink);
  margin: 10px 0px;
  box-shadow: 5px 5px 5px #58595b33;
}
